<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>multiple-choice</title>
  <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:lightblue;">
          <h4 class="text-center">添加多选题</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <label>题目：
              <input type="text" class="input" name="multipleQuestion">
              <p id="questionmultipleoption" style="display:none;color:red;">问题忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspA：
              <input type="text" class="input" name="multipleQuestion">
              <p id="Amultipleoption" style="display:none;color:red;">A选项忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspB：
              <input type="text" class="input" name="multipleQuestion">
              <p id="Bmultipleoption" style="display:none;color:red;">B选项忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspC：
              <input type="text" class="input" name="multipleQuestion">
              <p id="Cmultipleoption" style="display:none;color:red;">C选项忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspD：
              <input type="text" class="input" name="multipleQuestion">
              <p id="Dmultipleoption" style="display:none;color:red;">D选项忘记填写！</p>
            </label>
            </br>
            <div class="row form-inline">
              <label>&nbsp&nbsp&nbsp&nbsp&nbsp正确答案：</label>
              <input type="checkbox" class="form-control" value="A" name="multipleAnswer">A &nbsp
              <input type="checkbox" class="form-control" value="B" name="multipleAnswer">B &nbsp
              <input type="checkbox" class="form-control" value="C" name="multipleAnswer">C &nbsp
              <input type="checkbox" class="form-control" value="D" name="multipleAnswer">D &nbsp
            </div>
            </br>
            <div class="col-md-4">
              <button class="btn btn-primary" type="button" id="multipleSure" style="background-color:lightblue;">确认</button>
              <p id="success" style="display:none;color:red;">保存成功！</p>
              <p id="failed" style="display:none;color:blue;">保存失败！</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary" type="button" id="multipleEmpty" style="background-color:lightblue;">清空</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="js/multiple-choice.js"></script>

</html>
