<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>single-choice</title>
  <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-md-offset-2" id=“tt”>
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:lightblue;">
          <h4 class="text-center">添加单选题</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <label>题目：
              <input type="text" class="input" name="singleQuestion">
              <p id="questionsingleoption" style="display:none;color:red;">问题忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspA：
              <input type="text" class="input" name="singleQuestion">
              <p id="Asingleoption" style="display:none;color:red;">A选项忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspB：
              <input type="text" class="input" name="singleQuestion">
              <p id="Bsingleoption" style="display:none;color:red;">B选项忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspC：
              <input type="text" class="input" name="singleQuestion">
              <p id="Csingleoption" style="display:none;color:red;">C选项忘记填写！</p>
            </label>
            </br>
            <label>&nbsp&nbsp&nbspD：
              <input type="text" class="input" name="singleQuestion">
              <p id="Dsingleoption" style="display:none;color:red;">D选项忘记填写！</p>
            </label>
            </br>
            <div class="row form-inline">
              <label>&nbsp&nbsp&nbsp&nbsp&nbsp正确答案：</label>
              <input type="radio" class="form-control" value="A" name="singleAnswer">A &nbsp
              <input type="radio" class="form-control" value="B" name="singleAnswer">B &nbsp
              <input type="radio" class="form-control" value="C" name="singleAnswer">C &nbsp
              <input type="radio" class="form-control" value="D" name="singleAnswer">D &nbsp
            </div>
            </br>
            <div class="col-md-4 col-md-offset-4 col-md-offset-4" class="text-center">
              <p id="addBox" style="display:none;color:red;">保存成功！</p>
              <button class="btn btn-primary" type="button" id="singleSure" style="background-color:lightblue;">确认</button>
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn btn-primary" type="button" id="singleEmpty" style="background-color:lightblue;">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="js/single-choice.js"></script>

</html>
