<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Exam Crazy - Login</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/student-login-main.css">
</head>

<body>
  <div>
    <div class="header">
      <h1 class="header-logo">Exam Crazy - Best online exam platform</h1>
    </div>
    <div class="content">
      <form class="form-horizontal">
        <div class="form-group" style="width:800px;margin:auto;">
          <label class="un-error" for="username"></label>
          <input type="username" id="username" class="form-control" placeholder="学号" >
        </div>
        <div class="form-group" style="width:800px;margin:auto;">
          <label class="pw-error" for="password"></label>
          <input type="password" id="password" class="form-control" placeholder="Password" >
        </div>
        <div class="form-group"  style="width:800px;text-align:center;margin:auto;">
        <button type="button" id="button" class="btn btn-default" style="width:800px;margin:20px auto;">登录</button>
        没有帐号？<a href=http://localhost:3000/studentRegister>立即注册</a>
      </div>
      </form>
    </div>
  </div>
  <script src="jquery/dist/jquery.js"></script>
  <script src="js/jquery-cookie.js"></script>
  <script src="js/student-login-main.js"></script>
</body>

</html>
