<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/student-register.css">
  <title>{{title}}</title>
</head>

<body>

  <div class="all container">
    <div class="imag">

    </div>
    <form class="" action="" method="">
      <div class="panel panel-default">
        <div class="panel-heading">
          注册
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>
              <p id="xh"></p>
              学&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号
              <input type="text" name="name" id='id' value={{infor.id}}>（6～12位的数字）
            </label>
          </div>

          <div class="form-group">
            <label>
              <p id="sxm"></p>
              姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名
              <input type="text" name="name" id='xm' value="">
            </label>
          </div>

          <div class="form-group">
            <label class="sex">性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别</label>
            <label>
              <input type="radio" name="sex" value="男" class="rad" id="xb" tabindex="9" checked> 男
            </label>
            <label>
              <input type="radio" name="sex" value="女" class="rad" id="xb" tabindex="10"> 女
            </label>
            <div class="r ok" id="imweb_sexInfo"></div>
          </div>

          <div class="form-group">
            <label class="cla">班&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp级</label>
            <select name="imweb_city" id="imweb_city" class="city" tabindex="15">
              {{#each classes}}
              <option value="{{class_id}}" data-classId="2" id="bj" name="classes">{{class_name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label>
              <p id="smm"></p>
              密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码
              <input type="password" name="name" id='mm' value="">（6～12位）
            </label>
          </div>

          <div class="form-group">
            <label>
              <p id="summ"></p>
              确认密码
              <input type="password" name="name" id='sure-mm' value="">
            </label>
          </div>

          <div class="but form-group">
            <input type="submit" class="butt1 btn  btn-primary btn-lg " id='sub' name="name" value="注册">
            <input type="submit" class="butt2 btn btn-lg" id='cancle' name="name" value="取消">
          </div>

          <script src="jquery/dist/jquery.min.js"></script>
          <script type="text/javascript" src="js/student-register.js"></script>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
