<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src='jquery/dist/jquery.js'></script>
    <link rel="stylesheet" href="css/teacher-checkpage.css">
  </head>
  <body>
    <div class="top">
      <h2 class="title">在线考试管理系统</h2>
      <h3 class="logout">退出</h3>
    </div>
    <div class="left">
      <ul>
        <li>
          <input class="checkbtn" type="button" value="查看试卷" id="check-paper"/>
        </li>
        <li>
          <input type="button" value="增加试卷" id="check-paper"/>
        </li>
        <li>
          <input type="button" value="删除试卷" id="check-paper"/>
        </li>
        <li>
          <input type="button" value="修改试卷" id="check-paper"/>
        </li>
      </ul>
    </div>
    <div class="right">

    </div>
  </body>

  <script type="text/javascript" src='js/teacher-checkpage.js'></script>
</html>
