body {
  padding: 50px;
  background-image: url('../images/bb1.jpg');
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.cla {
  margin-right: 30px;
}
form {
  width: 444px;
  margin: auto;
}
p {
  color: red;
}
.all {
  clear: both;
  display: inline;
}

.sex {
  margin-right: 30px;
}
.rg_login a {
  float: right;
  margin-right: 100px;
  color: #443;
  text-decoration: underline;
}
