.model {
  width: 1100px;
  float: left;
  margin: 20px;
}
#addItem {
  margin: 0 auto;
  width: 400px;
  float: left;
}
.sure {
  text-align: center;
}
#reset {
  margin: 0 50px;
}
#addItem >.content {
  display: none;
}
.panel-heading {
  background: lightblue;
}
#addItem >.fill {
  display: block;
}
.showPaper {
  float: left;
  width: 500px;
  margin: -10px;
  float: left;
}
p {
  color: red;
}
