.model {
  width: 1100px;
  float: left;
  margin: 20px;
}
#addItem {
  margin: 0 auto;
  height: 470px;
  width: 400px;
  margin: 0 70px;
  float: left;
}
.sure{
  text-align: center;
}

#showPaper {
  float: left;
  width: 500px;
  height: 400px;
  margin: -10px;
  float: left;
}
