.model {
  width: 1100px;
  float: left;
  margin: 20px;
}
#addItem {
  margin: 0 auto;
  width: 400px;
  float: left;
}
.sure {
  text-align: center;
}
.showPaper {
  float: left;
  width: 500px;
  margin: -10px;
  float: left;
}
