{{!< paper}}

<div class="fill content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-md-offset-2" id="fill">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">添加填空题题目</h3>
        </div>

        <form class="form-horizontal">
          <div class="panel-body" id="addFill">
            <label>题目：
              <input type="text" class="input" id="fillQuestion">
              <p id="fillQusetionJudge"></p>
            </label>
            </br>
            <label>答案：
              <input type="text" class="input" id="fillQuestion">
              <p id="fillQusetionJudge"></p>
            </label>
            </br>
            <div class="col-md-4"> </div>
            <button class="btn btn-primary" type="button" id="fillAnswers" name="name">提交</button>
            </br>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="single content">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center">添加单选题</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <label>题目：
            <input type="text" class="input" name="singleQuestion">
            <p id="questionsingleoption" class="prompt">问题忘记填写！</p>
          </label>
          </br>
          <label>A：</br>
            <input type="text" class="input" name="singleQuestion">
            <p id="Asingleoption" class="prompt">A选项忘记填写！</p>
          </label>
          </br>
          <label>B：</br>
            <input type="text" class="input" name="singleQuestion">
            <p id="Bsingleoption" class="prompt">B选项忘记填写！</p>
          </label>
          </br>
          <label>C：</br>
            <input type="text" class="input" name="singleQuestion">
            <p id="Csingleoption" class="prompt">C选项忘记填写！</p>
          </label>
          </br>
          <label>D：</br>
            <input type="text" class="input" name="singleQuestion">
            <p id="Dsingleoption" class="prompt">D选项忘记填写！</p>
          </label>
          </br>
          <div class="row form-inline">
            <label>正确答案：</label>
            <input type="radio" class="form-control" value="A" name="singleAnswer">A
            <input type="radio" class="form-control" value="B" name="singleAnswer">B
            <input type="radio" class="form-control" value="C" name="singleAnswer">C
            <input type="radio" class="form-control" value="D" name="singleAnswer">D
          </div>
          </br>
          <div class="col-md-4">
            <button class="btn btn-primary" type="button" id="singleSure">确认 </button>
            <p id="success" class="prompt">保存成功！ </p>
            <p id="failed" class="prompt">保存失败！ </p>
          </div>
          <div class="col-md-4 ">
            <button class="btn btn-primary " type="button " id="singleEmpty ">清空</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="multiple content ">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center">添加多选题</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <label>题目：
            <input type="text" class="input" name="multipleQuestion">
            <p id="questionmultipleoption" class="prompt">问题忘记填写！</p>
          </label>
          </br>
          <label>A：</br>
            <input type="text" class="input" name="multipleQuestion">
            <p id="Amultipleoption" class="prompt">A选项忘记填写！</p>
          </label>
          </br>
          <label>B：</br>
            <input type="text" class="input" name="multipleQuestion">
            <p id="Bmultipleoption" class="prompt">B选项忘记填写！</p>
          </label>
          </br>
          <label>C：</br>
            <input type="text" class="input" name="multipleQuestion">
            <p id="Cmultipleoption" class="prompt">C选项忘记填写！</p>
          </label>
          </br>
          <label>D：</br>
            <input type="text" class="input" name="multipleQuestion">
            <p id="Dmultipleoption" class="prompt">D选项忘记填写！</p>
          </label>
          </br>
          <div class="row form-inline">
            <label>正确答案：</label>
            <input type="checkbox" class="form-control" value="A" name="multipleAnswer">A &nbsp
            <input type="checkbox" class="form-control" value="B" name="multipleAnswer">B &nbsp
            <input type="checkbox" class="form-control" value="C" name="multipleAnswer">C &nbsp
            <input type="checkbox" class="form-control" value="D" name="multipleAnswer">D &nbsp
          </div>
          </br>
          <div class="col-md-4">
            <button class="btn btn-primary" type="button" id="multipleSure">确认</button>
            <p id="success" class="prompt">保存成功！</p>
            <p id="failed" class="prompt">保存失败！</p>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary" type="button" id="multipleEmpty">清空</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
