{{!< ../layout/teacher-layout}}
{{#contentFor 'teacherPageStyles'}}
  <script type="text/javascript" src="js/teacher-paper.js"></script>
   <script type="text/javascript" src="js/add-single.js"></script>
  <script type="text/javascript" src="js/add-multiple.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/teacher-paper.css">

{{/contentFor}}
<div class="panel panel-default">
  <div class="panel-heading">新增试卷</div>
  <div class="panel-body">
    试卷名称
    <input type="text" id="paperName"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp科目
    <input type="text" id="subjectName">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">试卷内容</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        添加题目
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li id="fill">填空题</li>
        <li id="single">单选题</li>
        <li id="multiple">多选题</li>
        <li id="judge">判断题</li>
      </ul>
    </div>
    <div id="addItem">
    </div>
    <br></br>
    <div class="sure">
      <input type="button" name="submit" value="保存" id="ensure"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <input type="button" name="cancel" value="取消" id="cancel">
    </div>
  </div>
