{{!< ../layout/teacher-layout}}
{{#contentFor 'teacherPageStyles'}}

  <script type="text/javascript" src="js/teacher-paper.js"></script>
  <script type="text/javascript" src="js/single-choice.js"></script>
  <script type="text/javascript" src="js/multiple-choice.js"></script>
  <script type="text/javascript" src="js/add-fill.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/teacher-paper.css">
{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">新增试卷</div>
  <div class="panel-body">
    试卷名称
    <input type="text" id="paperName"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp科目
    <input type="text" id="subjectName">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">试卷内容</h3>
  </div>
  <div class="panel-body" id="questionType">
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" class="fill" value="option1" checked>填空题
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" class="single" value="option2">单选题
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" class="multiple" value="option3"> 多选题
    </label>
    <div class="model">

      <div id="addItem">

        <div id="fillBlank" class="row">
          <div class="col-md-8 col-md-offset-2 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:lightblue;">
                <h2 class="text-center">添加填空题题目</h2>
              </div>
              <form class="form-horizontal">
                <div class="panel-body" id="addFill">
                  <label>题目：
                    <input type="text" class="input" id="fillQuestion">
                    <p id="fillQusetionJudge"></p>
                  </label>
                  </br>
                  <input type="button" class="btn btn-link form-group" id="fillAnswers" name="name" value="点击输入答案">
                  </br>
                  <p id="fillAnswerJudge"></p>
                  <p id="fillBlank"></p>
                  <p id="submitResult" style="display:none;color:red;">提交成功</p>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div id="singleContant" class="single contant">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="text-center">添加单选题</h4>
              </div>
              <div class="panel-body">
                <form class="form-horizontal">
                  <label>题目：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="questionsingleoption">问题忘记填写！</p>
                  </label>
                  </br>
                  <label>A：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Asingleoption">A选项忘记填写！</p>
                  </label>
                  </br>
                  <label>B：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Bsingleoption">B选项忘记填写！</p>
                  </label>
                  </br>
                  <label>C：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Csingleoption">C选项忘记填写！</p>
                  </label>
                  </br>
                  <label>D：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Dsingleoption">D选项忘记填写！</p>
                  </label>
                  </br>
                  <div class="row form-inline">
                    <label>正确答案：</label>
                    <input type="radio" class="form-control" value="A" name="singleAnswer">A
                    <input type="radio" class="form-control" value="B" name="singleAnswer">B
                    <input type="radio" class="form-control" value="C" name="singleAnswer">C
                    <input type="radio" class="form-control" value="D" name="singleAnswer">D
                  </div>
                  </br>
                  <div class="col-md-4">
                    <button class="btn btn-primary" type="button" id="singleSure">确认</button>
                    <p id="success">保存成功！</p>
                    <p id="failed">保存失败！</p>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary" type="button" id="singleEmpty">清空</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div id="multipleContant" class="multiple contant">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                <h4 class="text-center">添加多选题</h4>
              </div>
              <div class="panel-body">
                <form class="form-horizontal">
                  <label>题目：
                    <input type="text" class="input" name="multipleQuestion">
                    <p id="questionmultipleoption">问题忘记填写！</p>
                  </label>
                  </br>
                  <label>A：
                    <input type="text" class="input" name="multipleQuestion">
                    <p id="Amultipleoption">A选项忘记填写！</p>
                  </label>
                  </br>
                  <label>B：
                    <input type="text" class="input" name="multipleQuestion">
                    <p id="Bmultipleoption">B选项忘记填写！</p>
                  </label>
                  </br>
                  <label>C：
                    <input type="text" class="input" name="multipleQuestion">
                    <p id="Cmultipleoption">C选项忘记填写！</p>
                  </label>
                  </br>
                  <label>D：
                    <input type="text" class="input" name="multipleQuestion">
                    <p id="Dmultipleoption">D选项忘记填写！</p>
                  </label>
                  </br>
                  <div class="row form-inline">
                    <label>正确答案：</label>
                    <input type="checkbox" class="form-control" value="A" name="multipleAnswer">A
                    <input type="checkbox" class="form-control" value="B" name="multipleAnswer">B
                    <input type="checkbox" class="form-control" value="C" name="multipleAnswer">C
                    <input type="checkbox" class="form-control" value="D" name="multipleAnswer">D
                  </div>
                  </br>
                  <div class="col-md-4">
                    <button class="btn btn-primary" type="button" id="multipleSure">确认</button>
                    <p id="success">保存成功！</p>
                    <p id="failed">保存失败！</p>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary" type="button" id="multipleEmpty">清空</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="showPaper">
        <h3 class="text-center">试题展示</h3>
        <ol id="showItem"></ol>
      </div>
    </div>
  </div>
  <br>
  <div class="sure">
    <button type="button" id="submit" class="btn btn-info">提交</button>
    <button type="button" id="reset" class="btn btn-info">重置</button>
  </div>
  <br>
</div>
