{{!< ../layout/teacher-layout}}
{{#contentFor 'teacherPageStyles'}}
  <script type="text/javascript" src="js/teacher-paper.js">
  </script>
{{/contentFor}}
<div class="panel panel-default">
  <div class="panel-heading">新增试卷</div>
  <div class="panel-body">
    试卷名称
    <input type="name" id="paperName">
  </div>
  <input type="button" name="submt" id="submit" value="提交">
</div>
