{{!< ../layout/teacher-layout}}
{{#contentFor 'teacherPageStyles'}}

  <script type="text/javascript" src="js/teacher-paper.js"></script>
  <script type="text/javascript" src="js/single-choice.js"></script>
  <script type="text/javascript" src="js/add-multiple.js"></script>
  <script type="text/javascript" src="js/add-fill.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/teacher-paper.css">
{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">新增试卷</div>
  <div class="panel-body">
    试卷名称
    <input type="text" id="paperName"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp科目
    <input type="text" id="subjectName">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">试卷内容</h3>
  </div>
  <div class="panel-body">
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="fill" value="option1" checked>填空题
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="single" value="option2">单选题
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="multiple" value="option3"> 多选题
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="judge" value="option3"> 判断题
    </label>
    <div class="model">
      <div id="addItem">

        <div id="singleChoice" class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:lightblue;">
                <h4 class="text-center">添加单选题</h4>
              </div>
              <div class="panel-body">
                <form class="form-horizontal">
                  <label>题目：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="questionsingleoption" style="display:none;color:red;">问题忘记填写！</p>
                  </label>
                  </br>
                  <label>&nbsp&nbsp&nbspA：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Asingleoption" style="display:none;color:red;">A选项忘记填写！</p>
                  </label>
                  </br>
                  <label>&nbsp&nbsp&nbspB：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Bsingleoption" style="display:none;color:red;">B选项忘记填写！</p>
                  </label>
                  </br>
                  <label>&nbsp&nbsp&nbspC：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Csingleoption" style="display:none;color:red;">C选项忘记填写！</p>
                  </label>
                  </br>
                  <label>&nbsp&nbsp&nbspD：
                    <input type="text" class="input" name="singleQuestion">
                    <p id="Dsingleoption" style="display:none;color:red;">D选项忘记填写！</p>
                  </label>
                  </br>
                  <div class="row form-inline">
                    <label>&nbsp&nbsp&nbsp&nbsp&nbsp正确答案：</label>
                    <input type="radio" class="form-control" value="A" name="singleAnswer">A &nbsp
                    <input type="radio" class="form-control" value="B" name="singleAnswer">B &nbsp
                    <input type="radio" class="form-control" value="C" name="singleAnswer">C &nbsp
                    <input type="radio" class="form-control" value="D" name="singleAnswer">D &nbsp
                  </div>
                  </br>
                  <div class="col-md-4">
                    <p id="success" style="display:none;color:red;">保存成功！</p>
                    <p id="failed" style="display:none;color:blue;">保存失败！</p>
                    <button class="btn btn-primary" type="button" id="singleSure" style="background-color:lightblue;">确认</button>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary" type="button" id="singleEmpty" style="background-color:lightblue;">清空</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div>
        <h3 class="text-center">试题展示</h3>
        <ol id="showPaper"></ol>
      </div>
    </div>
    <br></br>
    <div class="sure">
      <button type="button" class="btn btn-info">提交</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <button type="button" class="btn btn-info">重置</button>
    </div>
  </div>
