<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  {{{block "pageStyles"}}}
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
  {{{block "pagecontroljs"}}}
</head>

<body>
  {{{body}}}
</body>

</html>
