<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  {{{block "pageStyles"}}}
</head>

<body>
  {{{body}}}
</body>

</html>
