{{!< html-struct}}
{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="css/teach-stu-layout.css">
  <link rel="stylesheet" href="/css/teacher-checkpage.css">
{{/contentFor}}

{{#contentFor 'pagecontroljs'}}
  <script type="text/javascript" src="js/teacher-check-page.js"></script>
{{/contentFor}}

<div class="nav-topPannel">
  <div class="nav-navPills">
    <ul class="nav nav-pills" id="navPill">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">老师信息管理</a></li>
      <li><a href="#">老师考试管理</a></li>
      <li><a class="checkpage">老师考卷查询</a></li>
      <li><a href="#">老师信息修改</a></li>
    </ul>
  </div>
  <div class="nav-topCancel">
    <button type="button" id="btn-cancel" class="btn btn-danger">退出系统</button>
  </div>
</div>
{{{body}}}
